.Chat-main
  .Chat-main__group_info
    .Chat-main__group_info__left_box
      = @group.name
      %ul.Chat-main__group_info__left_box__bottom_box
        Menber:
        %li.Chat-main__group_info__left_box__bottom_box1
          - @group.users.each do |user|
            = user.name
    .Chat-main__group_info__right_box       
      = link_to edit_group_path(@group.id) do
        Edit

  .Chat-main__field
    = render @messages    
 
  .Chat-main__messageform
    = form_with model: [@group, @message], html: {class: "Chat-main__messageform__Form"}, local:true do |f|
      .Chat-main__messageform__box
        = f.text_field :content, class:"Chat-main__messageform__box__text",placeholder:"type a message"
        = f.label :image,class:"Chat-main__messageform__box__text__btn" do
          =icon('far','image',class: 'icon')
          = f.file_field :image ,class:"Chat-main__messageform__box__text__btn__deret"
      = f.submit "Send",class:"Chat-main__messageform__submitbtn"
    
